body{
    background-color: rgb(204, 224, 242);
}
.red{
    background-color: red;
}

.box{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-self: start;
    gap: 50px;
}
h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
h2{
    font-size:30px;
    padding-left: 20px;

}
.innerBox{
    height: 200px;
    width: 200px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #fab7b7;
}
.btn{
    margin-top: 50px;
    position: absolute;
    left: 800px;
    border: 1.5px solid rgb(202, 244, 163);
    border-radius: 50px;
    background-color: #008ea4;
    font-size: 30px;
    height: 60px;
    width: 150px;
}
.btn:active{
    background: #e2cccc;
}
.flash{
    background: #b7ff00;
}
